.app {
  display: grid;
  grid-template-rows: var(--nav-h) 1fr;
  grid-template-columns: var(--sidebar-w) 1fr var(--right-w);
  height: 100vh;
  transition: grid-template-columns var(--transition);
}

.app.left-collapsed {
  grid-template-columns: 30px 1fr var(--right-w);
}

.app.right-hidden {
  grid-template-columns: var(--sidebar-w) 1fr 30px;
}

.app.left-collapsed.right-hidden {
  grid-template-columns: 30px 1fr 30px;
}

.app-nav {
  grid-column: 1 / -1;
}
